## Pandas basic _ tips

In [2]:
import pandas as pd

<img src="0.dataframe_series_image.png" alt="drawing" width="500" />

from IPython.display import Image
Image("0.dataframe_series_image.png" , height=300 , width=500) # code안에서 나오게  

![title](dataframe_series_image.png) # markdown안에서 나오게 할 때.   
<img src="dataframe_series_image.png" alt="drawing" width="500" />  # markdown에서 사이즈 조절까지
                                                                                                                                                                            # https://lucycle.tistory.com/282

#### Series, DataFrame sample 만들기

In [6]:
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
display(pd.DataFrame(my_series))

                         0
United Kingdom      London
India            New Delhi
United States   Washington
Belgium           Brussels

In [8]:
# numpy를 활용한  df
import numpy as np
sample = pd.DataFrame({'type' : ['k','k','k','y','y','y','y','k'],
                       'a' : [1,2,3,4,5,6,7,np.NaN]},index=[1,2,3,4,5,6,7,8])
display(pd.DataFrame(sample))

  type    a
1    k  1.0
2    k  2.0
3    k  3.0
4    y  4.0
5    y  5.0
6    y  6.0
7    y  7.0
8    k  NaN

In [5]:
comp_mf34 = pd.DataFrame(
    columns=['5182','3104','6***','5***'],
    data=0,
    index=['mf3_batches','mf3_press_pv(std)','mf3_temp_pv(std)','mf4_batches','mf3_target_func','mf4_press_pv(std)','mf4_temp_pv(std)','mf4_target_func'])

comp_mf34.index.name = 'factors'
comp_mf34.columns.name = 'alloy'

display(comp_mf34)

alloy              5182  3104  6***  5***
factors
mf3_batches           0     0     0     0
mf3_press_pv(std)     0     0     0     0
mf3_temp_pv(std)      0     0     0     0
mf4_batches           0     0     0     0
mf3_target_func       0     0     0     0
mf4_press_pv(std)     0     0     0     0
mf4_temp_pv(std)      0     0     0     0
mf4_target_func       0     0     0     0