## Str type handling

In [4]:
import pandas as pd 
import numpy as np

In [13]:
s = pd.Series(['A','B','A-B C','B CD',np.nan,'dog ','c-a-t',' 1 '])
df = pd.DataFrame(s,columns = ['data'])

1. split --> 해당 obstacle을 기준으로 문자열을 나눈다.

In [16]:
df['data'].str.split('-')

0          [A]
1          [B]
2     [A, B C]
3       [B CD]
4          NaN
5       [dog ]
6    [c, a, t]
7        [ 1 ]
Name: data, dtype: object

2. replace --> 해당 obstacle을 다른 것으로 대체한다.

In [17]:
df['data'].str.replace('-','')

0       A
1       B
2    AB C
3    B CD
4     NaN
5    dog
6     cat
7      1
Name: data, dtype: object

3. strip --> 값에 공백만 존재하는 경우, 문자열 값의 앞뒤로 공백이 존재하는 경우 이를 없애고 싶을때

In [19]:
df['data'].str.strip()

0        A
1        B
2    A-B C
3     B CD
4      NaN
5      dog
6    c-a-t
7        1
Name: data, dtype: object

4. str  -->원하는 부분의 문자열만 끈고 싶을때

In [22]:
df['data'].str[:2]

0      A
1      B
2     A-
3     B
4    NaN
5     do
6     c-
7      1
Name: data, dtype: object

5. str  --> 소문자, 대문자

In [23]:
df['data'].str.lower()

0        a
1        b
2    a-b c
3     b cd
4      NaN
5     dog
6    c-a-t
7       1
Name: data, dtype: object

In [24]:
df['data'].str.upper()

0        A
1        B
2    A-B C
3     B CD
4      NaN
5     DOG
6    C-A-T
7       1
Name: data, dtype: object